.nimbus-bg {
  background: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 120px;
}
.nimbus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}
.texto-apresentacao {
  margin-top: 30px;
}
.biciletas-fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}
.biciletas-fotos img:first-child {
  min-width: 100%;
}
.biciletas-fotos img {
  flex: 1;
  min-width: 200px;
}
.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  justify-items: start;
  align-items: center;
  gap: 8px 12px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.bicicleta-comprar a {
  grid-row: span 2;
}
.bicicleta-comprar span {
  display: flex;
  padding: 4px 8px;
  background: var(--cor-12);
  align-items: center;
  gap: 8px;
  border-radius: 4px;
}
.informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--cor-12);
  margin-top: 20px;
  border-radius: 4px;
  padding: 32px 32px 10px 32px;
  margin-bottom: 40px;
}
.informacoes img {
  margin-bottom: 10px;
  max-width: 20px;
}
.informacoes h3 {
  margin-bottom: 10px;
}
.informacoes p {
  margin-bottom: 30px;
}
.ficha-tecnica {
  margin-top: 20px;
  background: var(--cor-12);
  padding: 32px;
  border-radius: 4px;
}
.ficha-tecnica li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.ficha-tecnica li:nth-last-child(n + 2) {
  border-bottom: solid 1px var(--cor-11);
  gap: 10px;
  padding-bottom: 5px;
}

.escolha-sua {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}
@media (max-width: 800px) {
  .nimbus {
    grid-template-columns: 1fr;
  }
  .biciletas-fotos {
    grid-row: 2;
  }

  .informacoes {
    grid-template-columns: 1fr;
  }
}
.seguro-bicicletas-bg {
  background: var(--cor-11);

  box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-12);
}
.seguro-bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.seguro-bike-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.seguros-bike-conteudo {
  padding-top: 200px;
  padding-bottom: 200px;
}
.seguros-bike-conteudo h2 {
  margin-bottom: 30px;
}
.seguros-bike-conteudo p {
  margin-bottom: 30px;
}
@media (max-width: 800px) {
  .seguro-bicicletas {
    grid-template-columns: 1fr;
  }
  .seguro-bike-imagem img {
    margin-top: 20px;
  }
  .seguros-bike-conteudo {
    padding-top: 00px;
    padding-bottom: 200px;
  }
}
