.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--cor-p1);
  overflow: hidden;
}
.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  max-height: 500px;
}
.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}
.depoimento-conteudo p {
  font-family: "merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 32ch;
  position: relative;
}
.depoimento-conteudo p::before {
  content: "“";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
  left: -50px;
  top: -20px;
}
.depoimento-conteudo p::after {
  content: "”";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}
@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
  }
  .depoimento-conteudo p {
    font-size: 1.5rem;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
  .depoimento-conteudo span {
    font-size: 0.8rem;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-conteudo p::before {
    left: -25px;
    top: -50px;
  }
}
